.about
    .container
        .about__wrapper
            img.about__photo(src="assets/img/example-photo.jpg", alt="Example photo")
            .about__content
                h2.block__title Обо мне
                hr.block__line
                p.about__paragraph Меня зовут Марк, я проффесиональный фотограф. Вашему вниманию я хочу предложить своё портфолио. Это то, что я делаю с 1993 года. Начав как энтузиаст в фотографии, я быстро стал профессионалом с сотнями уважительных клиентов каждый месяц. От любящих пар до перспективных музыкантов и звезд кино - клиенты, которые приходят ко мне на фотосессию, настолько разные. Я могу найти правильный подход к каждому из вас. Просто приходите и создадим искусство вместе!