header
    .container
        .header__wrapper
            .header-logo
                a(href='#').header-logo__link
                    span.header-logo__text PhotoMark
                    small.header-logo__description Портфолио фотографа
            .button.section__link.nav-open Меню
            nav.nav
                ul.nav__items
                    li.nav__item
                        a.nav__link(href="#") Обо мне
                    li.nav__item
                        a.nav__link(href="#") Услуги
                    li.nav__item
                        a.nav__link(href="#") Портфолио
                    li.nav__item
                        a.nav__link(href="#") Отзывы
                    li.nav__item
                        a.nav__link(href="#") Контакты
            .social
                ul.social__items
                    li.social__item
                        a.social__link(href="#")
                            span.display-hidden Facebook
                            i.fab.fa-facebook-f
                    li.social__item
                        a.social__link(href="#")
                            span.display-hidden Google+
                            i.fab.fa-google-plus-g
                    li.social__item
                        a.social__link(href="#")
                            span.display-hidden VK
                            i.fab.fa-vk
                    li.social__item
                        a.social__link(href="#")
                            span.display-hidden Twitter
                            i.fab.fa-twitter
                    li.social__item
                        a.social__link(href="#")
                            span.display-hidden Behance
                            i.fab.fa-behance
                    li.social__item
                        a.social__link(href="#")
                            span.display-hidden Instagram
                            i.fab.fa-instagram
                    li.social__item
                        a.social__link(href="#")
                            span.display-hidden Pinterest
                            i.fab.fa-pinterest-p

