.about {
  margin-top: 80px;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 55px 0 55px 80px;

  &:after {
    content: "";
    position: absolute;
    left: -18px;
    top: 0;
    width: 10px;
    height: 442px;
    background: transparent url(../img/about-line.jpg) top left/cover;
  }
}

.about__photo {
  width: 466px;
  height: 330px;
}

.about__content {
  max-width: 540px;
  padding-top: 55px;
}

.about__paragraph {
  font-size: 15px;
  line-height: 25px;
}