.header__wrapper {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.header-logo {
  margin-right: 80px;
}

.header-logo__link {
  text-decoration: none;
  color: #150b04;
  display: flex;
  flex-direction: column;

  &:hover {
    color: #7dadd3;
  }
}

.header-logo__text {
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-logo__description {
  padding-left: 15px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    background-color: #7dadd3;
  }
}

.nav__items {
  display: flex;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #150b04;
  font-size: 14px;
  line-height: 36px;
  font-weight: 700;
  padding-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #7dadd3;
  }
}

.social {
  margin-left: auto;
}

.social__items {
  display: flex;
}

.social__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  color: #150b04;

  &:hover {
    color: #7dadd3;
  }
}



