.header__wrapper {
  display: flex;
  align-items: center;
  padding: 19.3px 0;
  margin-bottom: 3px;
  flex-wrap:wrap;
}

.header-logo {
  margin-right: 80px;
}

.header-logo__link {
  text-decoration: none;
  color: #150b04;
  display: flex;
  flex-direction: column;

  &:hover {
    color: #7dadd3;
  }
}

.header-logo__text {
  font-size: 24.3px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-logo__description {
  padding-left: 14px;
  text-transform: uppercase;
  font-size: 11.4px;
  font-weight: 300;
  line-height: 12px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 8px;
    height: 8px;
    background-color: #7dadd3;
  }
}

.nav {
  @include media(1140px) {
    display: none;
  }
}

.nav__items {
  display: flex;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #150b04;
  font-size: 14px;
  line-height: 36px;
  font-weight: 700;
  padding-right: 41px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #7dadd3;
  }
}

.nav-open {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  @include media(1140px) {
    visibility: visible;
    position: static;
    left: auto;
  }
}

.social {
  margin-left: auto;
  @include media(660px) {
    margin: 0 auto;
    margin-top: 10px
  }
}

.social__items {
  display: flex;
}

.social__item {
  margin-right: 17.5px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  color: #150b04;

  &:hover {
    color: #7dadd3;
  }
}



